**/__pycache__
**./*.pyc
**/saved
.nfs*
.DS_Store
Thumbs.db
**/*.idea/
**/*.app
**/*.exe
**/*.war
**/node_modules
**/*.log
**/mlruns
**/artifacts
**/.ipynb_checkpoints
**/dask-worker-space
*.pkl
**/*.db
**/catboost_info
**/slurm-*.out
**/core.*
**/data