##Python
**/__pycache__
**./*.pyc
**/saved

**/*.env
**/*config.local.yaml

.Rproj.user
.Rhistory
.RData
.nfs*
.DS_Store
Thumbs.db
**/*.idea/
**/*.app
**/*.exe
**/*.war
**/node_modules
**/*.log
**/mlruns
**/artifacts
**/.ipynb_checkpoints
**/dask-worker-space
*.pkl
**/AutoML_*
**/*.db
**/catboost_info