##Python
**/__pycache__
**./*.pyc
**/saved

**/*.env
.Rproj.user
.Rhistory
.RData
.nfs*
.DS_Store
Thumbs.db
**/*.idea/
**/*.app
**/*.exe
**/*.war
**/node_modules
**/*.log
**/mlruns
**/.ipynb_checkpoints
**/dask-worker-space
*.pkl
**/AutoML_*
*.db