aiohttp==3.8.1
aiohttp-cors==0.7.0
aioredis==1.3.1
aiosignal==1.2.0
alembic==1.7.6
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astor==0.8.1
async-timeout==4.0.2
attrs==21.4.0
autopage==0.5.0
backcall==0.2.0
backports.entry-points-selectable==1.1.1
base58==2.1.1
beniget==0.4.1
black==22.1.0
bleach==4.1.0
blessed==1.19.1
blinker==1.4
blis==0.7.5
Boruta==0.3
CacheControl==0.12.10
cachetools==5.0.0
catalogue==1.0.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.11
cliff==3.10.0
cloudpickle==2.0.0
cmaes==0.8.2
cmd2==2.3.3
colorama==0.4.4
colorful==0.5.4
colorlog==6.6.0
colorlover==0.3.0
commonmark==0.9.1
cufflinks==0.17.3
cycler==0.11.0
cymem==2.0.6
dask==2022.1.1
databricks-cli==0.16.4
debugpy==1.5.1
defusedxml==0.7.1
Deprecated==1.2.13
distributed==2022.1.1
distro==1.6.0
docker==5.0.3
entrypoints==0.3
et-xmlfile==1.1.0
filelock==3.4.2
flake8==4.0.1
Flask==2.0.2
fonttools==4.29.1
frozenlist==1.3.0
fsspec==2022.1.0
funcy==1.17
gast==0.5.3
gensim==3.8.3
gitdb==4.0.9
GitPython==3.1.26
google-api-core==2.5.0
google-auth==2.6.0
googleapis-common-protos==1.54.0
gpustat==1.0.0b1
greenlet==1.1.2
grpcio==1.43.0
gunicorn==20.1.0
hdmedians==0.14.2
HeapDict==1.0.1
hiredis==2.0.0
htmlmin==0.1.12
idna==3.3
ImageHash==4.2.1
imageio==2.14.1
imbalanced-learn==0.7.0
importlib-metadata==4.10.1
iniconfig==1.1.1
ipykernel==6.8.0
ipython-genutils==0.2.0
itsdangerous==2.0.1
jedi==0.18.1
Jinja2==3.0.3
joblib==1.0.1
jsonschema==4.4.0
jupyter-client==7.1.2
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
kmodes==0.11.1
lightgbm==3.3.2
locket==0.2.1
MarkupSafe==2.0.1
matplotlib-inline==0.1.3
mccabe==0.6.1
missingno==0.5.0
mistune==0.8.4
mlflow==1.23.1
mlxtend==0.19.0
msgpack==1.0.3
multidict==6.0.2
multimethod==1.7
multipledispatch==0.6.0
murmurhash==1.0.6
mypy-extensions==0.4.3
natsort==8.1.0
nbclient==0.5.10
nbconvert==6.4.1
nbformat==5.1.3
nest-asyncio==1.5.4
nltk==3.6.7
notebook==6.4.8
numpy==1.22.2
nvidia-ml-py==11.450.51
nvidia-ml-py3==7.352.0
opencensus==0.8.0
opencensus-context==0.1.2
optuna==2.10.0
packaging==21.3
pandas-profiling==3.1.0
pandocfilters==1.5.0
param==1.12.0
parso==0.8.3
partd==1.2.0
pathspec==0.9.0
pbr==5.8.0
pexpect==4.8.0
phik==0.12.0
pickleshare==0.7.5
plac==1.1.3
platformdirs==2.4.1
pluggy==1.0.0
ply==3.11
preshed==3.0.6
prometheus-client==0.13.1
prometheus-flask-exporter==0.18.7
prompt-toolkit==3.0.26
protobuf==3.19.4
psutil==5.9.0
ptyprocess==0.7.0
py==1.11.0
pyarrow==6.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycaret==2.3.6
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.9.0
pydeck==0.7.1
pyflakes==2.4.0
Pygments==2.11.2
pyLDAvis==3.2.2
Pympler==1.0.1
pynndescent==0.5.6
pyod==0.9.7
pyparsing==3.0.7
pyperclip==1.8.2
pyrsistent==0.18.1
pytz==2021.3
PyWavelets==1.2.0
PyYAML==5.4.1
pyzmq==22.3.0
querystring-parser==1.2.4
ray==1.10.0
redis==4.1.2
regex==2022.1.18
rsa==4.8
scikit-learn==0.23.2
scikit-plot==0.3.7
scipy==1.5.4
Send2Trash==1.8.0
smart-open==5.2.1
smmap==5.0.0
sortedcontainers==2.4.0
spacy==2.3.7
sqlparse==0.4.2
srsly==1.0.5
stevedore==3.5.0
tangled-up-in-unicode==0.1.0
tblib==1.7.0
tenacity==8.0.1
tensorboardX==2.4.1
terminado==0.13.1
testpath==0.5.0
textblob==0.17.1
thinc==7.4.5
threadpoolctl==3.1.0
tifffile==2021.11.2
toml==0.10.2
tomli==2.0.0
toolz==0.11.2
tornado==6.1
traitlets==5.1.1
typing_extensions==4.0.1
umap-learn==0.5.2
urllib3==1.26.8
urwid==2.1.2
urwid-readline==0.13
validators==0.18.2
virtualenv-clone==0.5.7
visions==0.7.4
wasabi==0.9.0
watchdog==2.1.6
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
Werkzeug==2.0.2
widgetsnbextension==3.5.2
wordcloud==1.8.1
wrapt==1.13.3
yarl==1.7.2
yellowbrick==1.3.post1
zict==2.0.0
zipp==3.7.0
